<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ChooseClubFund</servlet-name>
        <servlet-class>ModelView.ChooseClubFundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseDividendFrequencyServlet</servlet-name>
        <servlet-class>ModelView.ChooseDividendFrequencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseDonationRecipientClubServlet</servlet-name>
        <servlet-class>ModelView.ChooseDonationRecipientClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseDonationAmountServlet</servlet-name>
        <servlet-class>ModelView.ChooseDonationAmountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseItemCategoryServlet</servlet-name>
        <servlet-class>ModelView.ChooseItemCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseItemServlet</servlet-name>
        <servlet-class>ModelView.ChooseItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseMemberFirstNameServlet</servlet-name>
        <servlet-class>ModelView.ChooseMemberFirstNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseMemberLastNameServlet</servlet-name>
        <servlet-class>ModelView.ChooseMemberLastNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseMemberAddressServlet</servlet-name>
        <servlet-class>ModelView.ChooseMemberAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseCustomerAddressServlet</servlet-name>
        <servlet-class>ModelView.ChooseCustomerAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseMemberEmailServlet</servlet-name>
        <servlet-class>ModelView.ChooseMemberEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToOrder</servlet-name>
        <servlet-class>ModelView.AddItemToOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseSupplierNameServlet</servlet-name>
        <servlet-class>ModelView.ChooseSupplierNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseSupplierAddressServlet</servlet-name>
        <servlet-class>ModelView.ChooseSupplierAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseSupplierPhoneNoServlet</servlet-name>
        <servlet-class>ModelView.ChooseSupplierPhoneNoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseClubAddressServlet</servlet-name>
        <servlet-class>ModelView.ChooseClubAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GavinWeek3Q5OrderFormServlet</servlet-name>
        <servlet-class>ModelView.GavinWeek3Q5OrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseClubFund</servlet-name>
        <url-pattern>/ChooseClubFund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseDividendFrequencyServlet</servlet-name>
        <url-pattern>/ChooseDividendFrequencyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseDonationRecipientClubServlet</servlet-name>
        <url-pattern>/ChooseDonationRecipientClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseDonationAmountServlet</servlet-name>
        <url-pattern>/ChooseDonationAmountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseItemCategoryServlet</servlet-name>
        <url-pattern>/ChooseItemCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseItemServlet</servlet-name>
        <url-pattern>/ChooseItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseMemberFirstNameServlet</servlet-name>
        <url-pattern>/ChooseMemberFirstNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseMemberLastNameServlet</servlet-name>
        <url-pattern>/ChooseMemberLastNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseMemberAddressServlet</servlet-name>
        <url-pattern>/ChooseMemberAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseCustomerAddressServlet</servlet-name>
        <url-pattern>/ChooseCustomerAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseMemberEmailServlet</servlet-name>
        <url-pattern>/ChooseMemberEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToOrder</servlet-name>
        <url-pattern>/AddItemToOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseSupplierNameServlet</servlet-name>
        <url-pattern>/ChooseSupplierNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseSupplierAddressServlet</servlet-name>
        <url-pattern>/ChooseSupplierAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseSupplierPhoneNoServlet</servlet-name>
        <url-pattern>/ChooseSupplierPhoneNoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseClubAddressServlet</servlet-name>
        <url-pattern>/ChooseClubAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GavinWeek3Q5OrderFormServlet</servlet-name>
        <url-pattern>/GavinWeek3Q5OrderFormServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
