<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="FoodBankClubPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entityClasses.Suppliers</class>
    <class>entityClasses.Clubs</class>
    <class>entityClasses.Donors</class>
    <class>entityClasses.Donations</class>
    <class>entityClasses.Orders</class>
    <class>entityClasses.Stockitems</class>
    <class>entityClasses.Ordereditems</class>
    <class>entityClasses.Members</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@tom.uopnet.plymouth.ac.uk:1521:orcl"/>
      <property name="javax.persistence.jdbc.password" value="Duporth.1001"/>
      <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
      <property name="javax.persistence.jdbc.user" value="gavindodd"/>
    </properties>
  </persistence-unit>
</persistence>
